@model AboutViewModel

<div>
  <a href="/">Home</a>
  <a href="/home/about">About</a>
  <a href="/home/privacy">Privacy</a>
</div>

<h1>@Model.Title</h1>

<o>@Model.Message </o>

<p>The company was formed on @Model.FormedString or @Model.Days ago</p>